# Các thư viện cơ bản
numpy==1.26.1
pandas==2.1.1
scikit-learn==1.3.2

# Thư viện Machine Learning (cho file model.h5 và tokenizer.pkl)
tensorflow==2.14.0
keras==2.14.0

# Thư viện Web App (cho file app.py)
flask==3.0.0
